@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Protech</h1>
    <p class="lead">Teste</p>
    <p><a href="http://www.thiagodarlei.com.br" target="_blank" class="btn btn-primary btn-lg">Thiago Darlei &raquo;</a></p>
</div>

